<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{% block title %} {% endblock %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <style>
         {% block style %} {% endblock %}
      </style>

      <script type="text/javascript">
         {% block script %} {% endblock %}
      </script>
   </head>

   <body>
   <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %} {% endblock %}
   </div>
   </body>
</html>